body {
    background-color: #222222;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.canvas {
    background-color: #ffffff;
    width: 600px;
    padding: 15px;
    box-sizing: border-box;
}

.box-one, .box-two, .box-three {
    height: 200px;
    width: 200px;
}

.box-one {
    background-color: cadetblue;
    padding: 20px;
    border: 10px solid black;
}

.box-one p {
    margin: 0;
}

.box-two {
    background-color: gold;
    border-top: 20px solid black;
    border-bottom: 20px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
    margin-left: 260px;
}

.box-three {
    background-color: indianred;
    border: 10px solid black;
    margin-left: 40px;
}
